<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_ReviewBooster
 */
-->
<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="aitoc_reviewbooster" frontName="aitocreviewbooster">
            <module name="Aitoc_ReviewBooster"/>
        </route>
    </router>
</config>
