<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="ncloutier_shippingsentence" id="ncloutier_shippingsentence">
			<module before="Magento_Backend" name="Ncloutier_Shippingsentence"/>
		</route>
	</router>
</config>
