<?xml version="1.0"?>
<!--
/**
 * @author Nicolas Cloutier
 * @copyright Copyright (c) 2020 Sportpat Inc.
 * @package Nick_Algoliabrands
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="nick_algoliabrands_router" xsi:type="array">
                    <item name="class" xsi:type="string">\Nick\Algoliabrands\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">71</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>