<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="scommerce_googleuniversalanalytics_sales_order_creditmemo_save_after" instance="Scommerce\GoogleUniversalAnalytics\Model\Observer\CreditMemoSaveAfter" />
    </event>
    <event name="sales_order_save_after">
        <observer name="scommerce_googleuniversalanalytics_send_order_save_after" instance="Scommerce\GoogleUniversalAnalytics\Model\Observer\SendOrderDataToGoogle" />
    </event>
</config>