<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Sportpat_OrderSync::ordersync" title="OrderSync" sortOrder="999">
                        <resource id="Sportpat_OrderSync::ordersync_syncedorder" title="Synced Orders"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
