<?xml version="1.0"?>
<!--
/**
 * K3Live Module for ShopperApproved
 *
 * @package   ShopperApproved
 * @author    K3Live <support@k3live.com>
 * @copyright 2018 Copyright (c) Woopra (http://www.k3live.com/)
 * @license   Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="k3live" translate="label" sortOrder="10">
            <label>K3Live</label>
        </tab>
        <section id="k3live_shopperapproved" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>ShopperApproved</label>
            <tab>k3live</tab>
            <resource>K3Live_ShopperApproved::k3live_shopper_approved</resource>
            <group id="getting_started_1" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Getting Started</label>
                <field id="getting_started_1_1" translate="" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>
                        <![CDATA[Welcome to the ShopperApproved setup. If you have not already setup an account then click below on "No Previous Account".<br /><br />If you already have an account then <a href="https://www.shopperapproved.com/contact-us.php" target="_blank">click here to open a ticket</a>.<br />Send To: General Department<br />Title: Affiliate Credit for K3Live (ID 620)<br />Message: We have setup the Magento ShopperApproved module and are requesting you credit affiliate K3Live (ID 620).<br /><br />Once complete with requesting the affiliate credit, click on "ShopperApproved Basic Setup" below.<br /><br /><b>Note: This step takes just a moment of your time and allows us to continue offering the extension, updates, and support at no cost to you.</b>]]>
                    </comment>
                </field>
            </group>
            <group id="getting_started_2" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>No Previous Account</label>
                <field id="getting_started_2_1" translate="" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <comment>
                        <![CDATA[<a href="http://k3live.com/shopper-approved/" target="_blank">Follow this link for an exclusive 30 day trial offer.<br />Once you have completed the basic setup and verification you will be given a block of code like below:<br />script type="text/javascript" src="https://www.shopperapproved.com/thankyou/sv-draw_js.php?site=XXXX"<br />Copy the digits after "site=" and continue to "ShopperApproved Basic Setup" below.]]>
                    </comment>
                </field>
            </group>
            <group id="shopper_approved" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ShopperApproved Basic Setup</label>
                <field id="enabled" translate="" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>
                        Enable or disable the ShopperApproved module
                    </comment>
                </field>
                <field id="site_id" translate="" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ShopperApproved Site ID:</label>
                    <comment>
                        <![CDATA[You can find your Shopper Approved Site ID by going to <a href="https://www.shopperapproved.com/account/merchant/surveys/options" target="_blank">this link</a> and looking at the "Survey Code". Near the beginning you should see "site":XXXX, enter the site ID above.]]>
                    </comment>
                </field>
                <field id="site_token" translate="" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ShopperApproved Site Token:</label>
                    <comment>
                        <![CDATA[You can find your Shopper Approved Site Token by going to <a href="https://www.shopperapproved.com/account/merchant/surveys/options" target="_blank">this link</a> and looking at the "Survey Code". Near the beginning you should see "token":XXXXXXXX, enter the site token above.]]>
                    </comment>
                </field>
                <field id="api_token" translate="" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ShopperApproved API Token:</label>
                    <comment>
                        <![CDATA[You can find your Shopper Approved API Token by going to <a href="https://www.shopperapproved.com/account/dashboard/api/merchant" target="_blank">this link</a> and looking at the "General Information (GET)" under "API Code". At the end of the link you should see &token=XXXX, enter the token above.]]>
                    </comment>
                </field>
            </group>
            <group id="shopper_approved_customize" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customize Customer Experience</label>
                <field id="popup_inline" translate="" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Confirmation Survey Prompt</label>
                    <source_model>K3Live\ShopperApproved\Model\Config\Source\PopupInlineSelect</source_model>
                    <comment>
                        <![CDATA[Select how the survey will be displayed to the customer.
                        <br /><b>Pop-up:</b> A modal popup will appear on top of the order confirmation page.
                        <br /><b>Inline:</b> The inline survey will be embedded into the order confirmation page, and will appear as part of the page.<br />Default: Pop-up]]>
                    </comment>
                </field>
                <field id="auto_populate" translate="" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Populate Values</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Automatically populate the Order ID, Name, E-mail, Country, State/Province for the customer in the survey. <br />Default: Yes]]>
                    </comment>
                </field>
                <field id="send_all" translate="" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Survey to All Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Sends the survey to all customers that complete an order regardless of participation in checkout survey.
                        <br /><b>You must make sure your posted privacy policy notifies your customers that you may share their email addresses with a third party.</b>
                        <br />Default: No]]>
                    </comment>
                </field>
                <field id="mandatory_comments" translate="" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mandatory Comments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Forces customers to leave a comment in the survey.<br />Default: No]]>
                    </comment>
                </field>
                <field id="cancel_review" translate="" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cancel Review Upon Order Cancellation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Cancels an initial review after an order cancellation. Cancelling a review utilizing the API will stop the followup email and mark the initial review as having been canceled.<br />Default: No]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>