<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->

<!--@subject Review reminder from {{var store.getFrontendName()}}. @-->
<!--@vars {
"var customer_name":"Customer Name",
"block area='frontend' class='Aitoc\\FollowUpEmails\\Block\\Products' template='Aitoc_FollowUpEmails::products.phtml' products=$module_data.products email_id=$email_id secret_code=$secret_code":"Order Products",
"var coupon.coupon_code":"Coupon Code",
"var coupon.discount_amount":"Discount Amount",
"var coupon.expiry_days":"Expiry Days"
} @-->

{{template config_path="design/email/header_template"}}

<!-- ======= We hope you enjoy ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="">

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

    <tr>
        <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590 ">

                <tr>
                    <td align="left"
                        style="color: #121214; font-size: 28px; font-family: 'Roboto', sans-serif; font-weight: 300; line-height: 22px;"
                        class="main-header align-center">

                        <div style="line-height: 22px">
                            We hope you enjoy your recent purchase.
                        </div>
                    </td>
                </tr>

                <tr>
                    <td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="left"
                        style="color: #777777; line-height: 24px; font-size: 16px; font-family: 'Roboto', sans-serif;"
                        class="align-center">

                        <div style="line-height: 25px">
                            <p>Hi, {{trans "%customer_name" customer_name=$customer_name}}!</p>
                            <p>Help us learn more about how we at {{var store.getFrontendName()}} did. Please leave your honest opinion on your recent purchase.</p>
                            <p>Was it worth the wait?</p>
                            <p>Share your feedback and help us get even better!</p>
                        </div>

                    </td>
                </tr>

                <!-- ======= Related products ======= -->
                {{depend module_data.products}}
                <tr>
                    <td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td>
                </tr>

                <tr>
                    <td>
                        <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                            <tr>
                                <td>
                                    {{block
                                        area='frontend'
                                        class='Aitoc\\FollowUpEmails\\Block\\Products'
                                        template='Aitoc_FollowUpEmails::products.phtml'
                                        products=$module_data.products
                                        email_id=$email_id
                                        secret_code=$secret_code
                                    }}
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                {{/depend}}
                <!-- ======= /Related products ======= -->

            </table>

        </td>
    </tr>

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

</table>
<!-- ======= /We hope you enjoy ======= -->


<!-- ======= Need assistance? ======= -->
<table border="0" width="100%" cellpadding="0" cellspacing="0">

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

    <tr>
        <td>
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                <tr>
                    <td align="center"
                        style="color: #121214; font-size: 28px; font-family: 'Roboto', sans-serif; font-weight: 300; line-height: 25px;"
                        class="main-header">

                        <div style="line-height: 24px;">
                            Need assistance?
                        </div>

                    </td>
                </tr>

                <tr>
                    <td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td>
                </tr>

                <tr>
                    <td align="center"
                        style="color: #777777; line-height: 25px; font-size: 16px; font-family: 'Roboto', sans-serif;">

                        <div style="line-height: 25px">
                            If you have questions about our product, we’re here to help support@example.com
                        </div>

                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

</table>
<!-- ======= /Need assistance? ======= -->


<!-- ======= Discount ======= -->
{{depend coupon.coupon_code}}
<table border="0" width="100%" cellpadding="0" cellspacing="0">

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

    <tr>
        <td align="center">
            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">
                <tr>
                    <td align="left"
                        style="color: #777777; line-height: 24px; font-size: 16px; font-family: 'Roboto', sans-serif;"
                        class="align-center">
                        <p>Feel free to click the links in this email. And don’t forget to use this awesome {{var coupon.discount_amount}} discount code along with your purchase: <strong>{{var coupon.coupon_code}}</strong>.</p>
                        <p style="font-size:14px;" >{{trans "*The coupon expires in %expiry_days day(s)." expiry_days=$coupon.expiry_days}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
    </tr>

</table>
{{/depend}}
<!-- ======= /Discount ======= -->

{{template config_path="design/email/footer_template"}}
