<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->
<div class="admin__field preview-block">
    <label class="admin__field-label">
    </label>
    <div class="admin__field-control"
         css="'_with-tooltip': $data.tooltip">
        <div class="admin__field admin__field-option pre-button-block">
            <button type="button" data-action="action" click="$data.previewTemplate.bind();return false;"  data-ui-id="widget-button-0">
                <span>Preview</span>
            </button>
        </div>
    </div>
</div>
