<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_ReviewBooster
 */
-->
<!--
  ~ Copyright © 2019 Aitoc. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Adminhtml\Add\Form" type="Aitoc\ReviewBooster\Block\Rewrite\Review\Adminhtml\Add\Form"/>
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form" type="Aitoc\ReviewBooster\Block\Rewrite\Review\Adminhtml\Edit\Form"/>
</config>
